# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Useless things
package-lock.*
pnpm-lock.*
npm-lock.*


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS, packages or Editor files
._*
package-lock.json
yarn.lock
pnpm-lock.yaml


# Something else
*.bak
*.orig
*.backup
*.tmp
*.tmp.*
full_img.xlsx
full_img_table.html
img.py
